<div class="container-search">
    <div class="d-flex flex-wrap">
        {{#each albums as |album|}}
            <div class="p-2">
                <div><img class="img-searh" src="{{album.images.0.url}}"></div>
                <div class="container-text-search">
                    <div class="text-search"><h5>{{album.name}}</h5> </div>
                    <div class="btn-search"><a class="btn btn-danger" href="/songs/{{album.id}}" role="button">View Tracks</a></div>
                </div>
            </div>
        {{/each}}
    </div>
    <input type="button" onclick="history.back()" name="volver atrás" value="volver atrás">
</div>

 