<div class="container-home">
    <form action="/artist-search" method="get">
        <div>
            <input class="home-input" type="text" name="search" placeholder="The Beatles"> 
        </div>
        <div class="home-button">
            <button type="submit" class="btn btn-danger">Search for an Artist</button>
        </div>  
    </form>
</div>
